.search__container {
  margin-bottom: 20px;
  height: 120px;
}

.search__container .search__header {
  font-size: 13.28px;
  margin: 0px 10px 5px 10px; 
}

.search__container .input__search-bar {
  margin: 0 10px 20px 10px;
  width: 96%;
  padding: 3px;
}
