.App {
  text-align: start;
  width: 80vw;
  margin-bottom: 10vh;
}

.header {
  background-color: #efefef;
  margin-top: 40px;
}

.container {
  background-color: #fff;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  font-size: 13.28px;
}

.result-nomination {
  display: flex;
  flex-direction: row;
  width: 100%;
}