.App {
  text-align: start;
  width: 80vw;
}

.header {
  background-color: #efefef;
  margin-top: 40px;
}

.container {
  background-color: #fff;
  padding-top: 20px;
  padding-left: 10px;
  border-radius: 3px;
}

.result-nomination {
  display: flex;
  flex-direction: row;
  width: 100%;
}