.nominationList__container {
  width: 50%;
  margin-left: 10px ;
}

.empty-result {
  width: 100%;
  margin-left: 0;
}

.nominationList__container .nominationList__header {
  margin: 0px 10px 5px 15px; 
}

.nominationList__container .nomination__list {
  padding: 5px 0;
  font-size: 13.28px;
}

.nominationList__container .nomination__list .button {
  margin-left: 5px;
  margin-right: 5px;
}
