.result__container {
  width: 50%;
  margin-right: 10px;
  padding-bottom: 20px;
  overflow-wrap: auto;
}

.result__container .result__header, .result__error {
  margin: 0px 10px 5px 15px; 
  font-size: inherit
}

.result__container .movie__list {
  padding: 5px 0;
}

.result__container .movie__list .button { 
  margin-left: 5px;
  margin-top: 5px;
}

.result__container .result__error {
  color: red;
  /* font-size: 13.28px; */
}