.search__container {
  margin-bottom: 20px;
  height: 120px;
}

.search__container .search__header {
  margin: 0px 10px 5px 10px; 
}

.search__container .input__search-bar {
  margin: 0 10px 20px 10px;
  width: 96%;
  padding: 3px;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.status-spinner {
  transition: opacity linear 0.1s;
}

.status-spinner::before {
  animation: 1s linear infinite spinner;
  border: solid 3px #eee;
  border-bottom-color: #f04747;
  border-radius: 50%;
  content: "";
  height: 40px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 25%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
  width: 40px;
  will-change: transform;
}

.search__container .status-text {
  text-align: center;
}